.contacts-container {
  padding-bottom: 68px;
}

.contacts-title {
  @include resetPaddingMargin();
  margin-bottom: 22px;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: $black;
}

.contacts-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.contacts-map-wrap {
  position: relative;
  grid-column: 1/9;
  height: 460px;
}

.contacts-map {
  width: 100%;
  height: 100%;
}

.contacts-map-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 410px;
  height: 100%;
  background: rgba(32, 32, 32, 0.85);
}

.contacts-map-info-text-wrap {
  position: relative;
  padding-top: 175px;
  padding-left: 60px;
  width: 333px;
}

.contacts-map-info__btn {
  position: absolute;
  top: 20px;
  right: -55px;
}

.contacts-map-info__title {
  @include resetPaddingMargin();
  margin-bottom: 5px;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: $white;
}

.contacts-map-info__descr {
  @include resetPaddingMargin();
  margin-bottom: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $grey;
}

.contacts-map-info__link {
  display: flex;
  align-items: center;
  color: $orange;
  fill: $orange;
}

.contacts-map-info__link-icon {
  fill: inherit;
}

.contacts-map-info__link-descr {
  display: inline-block;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.contacts-feedback {
  margin-top: -6px;
  display: flex;
  flex-direction: column;
  grid-column: 9/13;
}

.contacts-feedback__title {
  @include resetPaddingMargin();
  margin-bottom: 5px;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: $black;
}

.contacts-feedback__descr {
  @include resetPaddingMargin();
  margin-bottom: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $projects-grey;
}

.contacts-feedback__form {
  display: flex;
  flex-direction: column;
}

.contacts-feedback__form-input {
  margin-bottom: 20px;
  padding: 15.5px 23px;
  width: 100%;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $projects-grey;
  border: none;
  outline: 1px solid transparent;
  background-color: $input-grey;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-input::placeholder,
.contacts-feedback__form-textarea::placeholder {
  color: inherit;
}

.contacts-feedback__form-input:hover,
.contacts-feedback__form-textarea:hover {
  outline-color: transparent;
  color: $orange;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-input:hover,
.contacts-feedback__form-textarea:hover {
  outline-color: transparent;
  color: $orange;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-input:focus,
.contacts-feedback__form-textarea:focus {
  outline-color: $orange;
  color: $grey;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-input:focus,
.contacts-feedback__form-textarea:focus {
  outline-color: transparent;
  color: $black;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}


.contacts-feedback__form-textarea {
  padding-top: 15px;
  padding-left: 23px;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $projects-grey;
  border: none;
  outline: 1px solid transparent;
  background-color: $input-grey;
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-btn {
  padding: 15.5px 22px;
  width: 126px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  outline: 3px solid transparent;
  outline-offset: -3px;
  color: $white;
  background-color: $orange;
  transition: background-color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-btn:hover {
  outline-color: transparent;
  background-color: $orange-focus;
  transition: background-color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-btn:focus {
  outline-color: $orange-active;
  background-color: $orange;
  transition: background-color .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts-feedback__form-btn:active {
  outline-color: transparent;
  background-color: $orange-active;
  transition: background-color .3s ease-in-out, outline-color .3s ease-in-out;
}

@media (max-width: 1366px) {

  .contacts-wrap {
    grid-template-columns: repeat(8, 1fr);
  }

  .contacts-map-wrap {
    grid-column: 1/6;
  }

  .contacts-feedback {
    grid-column: 6/9;
  }

  .contacts-map-info {
    top: auto;
    left: auto;
    bottom: 0;
    width: 100%;
    height: 157px;
  }

  .contacts-map-info-text-wrap {
    padding-top: 25px;
    padding-left: 30px;
    width: 305px;
  }

  .contacts-map-info__btn {
    top: 21px;
    right: -264px;
  }

  .contacts-map-info__link {
    position: absolute;
    bottom: 2px;
    right: -39px;
  }
}

@media (max-width: 1023px) {

  .contacts-container {
    padding-right: 27px;
    padding-left: 27px;
  }

  .contacts-wrap {
    grid-template-columns: repeat(6, 1fr);
  }

  .contacts-map-wrap {
    grid-column: 1/7;
  }

  .contacts-feedback {
    grid-column: 1/5;
  }

  .contacts-map-info__descr {
    margin-bottom: 4px;
  }

  .contacts-map-info-text-wrap {
    width: 437px;
  }

  .contacts-map-info__btn {
    right: -256px;
  }

  .contacts-map-info__link {
    position: relative;
    bottom: auto;
    right: auto;
  }
}

@media (max-width: 767px) {

  .contacts-map-info__btn {
    right: -60px;
  }
}

@media (max-width: 576px) {

  .contacts-container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 51px;
  }

  .contacts-title {
    padding-left: 20px;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 23px;
  }

  .contacts-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts-map-wrap {
    height: 472px;
    grid-column: 1/3;
  }

  .contacts-map-info__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts-map-info__descr {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-feedback {
    padding-right: 21px;
    padding-left: 21px;
    grid-column: 1/3;
  }

  .contacts-map-info {
    top: auto;
    left: auto;
    bottom: 0;
    width: 100%;
    height: 157px;
  }

  .contacts-map-info-text-wrap {
    padding-top: 26px;
    padding-left: 19px;
    margin-bottom: 11px;
    width: 282px;
  }

  .contacts-map-info__btn {
    top: 21px;
    right: -18px;
  }

  .contacts-map-info__link-descr {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-feedback__title {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts-feedback__descr {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-feedback__form-input {
    padding: 7px 23px 0;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts-feedback__form-textarea {
    font-size: 14px;
    line-height: 16px;
  }

  .contacts-feedback__form-btn {
    padding: 14px 22px 10px;
    width: 115px;
    font-size: 14px;
    line-height: 16px;
  }
}
