.projects-container {
  padding-top: 68px;
  padding-bottom: 68px;
}

.projects-title {
  @include resetPaddingMargin();
  margin-bottom: 12px;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: $black;
}

.projects-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.projects-card-small {
  position: relative;
  grid-column: 1/3;
}

.projects-card-small--two {
  grid-column: 3/5;
}

.projects-card-small--three {
  grid-column: 5/7;
}

.projects-card-small__type {
  padding: 6px 14px;
  position: absolute;
  top: 7px;
  right: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: $black;
}

.projects-card-small__picture-img {
  margin-bottom: 13px;
  width: 100%;
  height: 184px;
}

.projects-card-small__descr {
  @include resetPaddingMargin();
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black;
}

.projects-card-small__date {
  padding-left: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: $projects-grey;
  background-image: url('images/projects-calendar.svg');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.projects-card-medium {
  position: relative;
  grid-column: 7/13;
  height: 300px;
}

.projects-card-medium__type {
  padding: 6px 14px;
  position: absolute;
  top: 7px;
  right: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: $black;
}

.projects-card-medium__picture-img {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.projects-card-medium-content-wrap {
  padding: 22px 30px 30px;
  display: flex;
  flex-direction: column;
}

.projects-card-medium__date {
  margin-bottom: 2px;
  padding-left: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: $white;
  background-image: url('images/projects-calendar-white.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.projects-card-medium__title {
  @include resetPaddingMargin();
  margin-bottom: 6px;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $white;
}

.projects-card-medium__descr {
  @include resetPaddingMargin();
  margin-bottom: 54px;
  width: 292px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.projects-card-medium__btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 12.5px 19px;
  width: 121px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $white;
  border: 3px solid $orange;
  background-color: transparent;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.projects-card-medium__btn:hover {
  background-color: $orange;
  border-color: $orange;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.projects-card-medium__btn:focus {
  outline: none;
  background-color: $orange-focus;
  border-color: $orange;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.projects-card-medium__btn:active {
  background-color: $orange-active;
  border-color: $orange-active;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.projects-card-medium--five {
  grid-column: 1/7;
}

.projects-card-small--six {
  grid-column: 7/10;
}

.projects-card-small--seven {
  grid-column: 10/13;
}

@media (max-width: 1366px) {

  .projects-wrap {
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 24px;
    grid-auto-flow: dense;
  }

  .projects-card-medium__picture-img {
    height: 307px;
  }

  .projects-card-small--one {
    grid-column: 1/3;
  }

  .projects-card-small--two {
    grid-column: 3/5;
  }

  .projects-card-small--three {
    grid-column: 5/9;
  }

  .projects-card-medium--four {
    grid-column: 1/6;
  }

  .projects-card-medium--five {
    grid-column: 4/9;
  }

  .projects-card-small--six {
    grid-column: 6/9;
  }

  .projects-card-small--seven {
    grid-column: 1/4;
  }

  .projects-card-small__descr {
    margin-bottom: 17px;
    max-height: 44px;
  }

  .projects-card-small__descr--six,
  .projects-card-small__descr--seven {
    max-height: 66px;
  }

  .projects-card-medium {
    height: 307px;
  }

  .projects-card-medium-content-wrap {
    padding-top: 30px;
  }
}

@media (max-width: 1023px) {

  .projects-container {
    padding-right: 27px;
    padding-left: 27px;
  }

  .projects-wrap {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 24px;
    grid-auto-flow: dense;
  }

  .projects-card-medium__picture-img {
    height: 300px;
  }

  .projects-card-small--one {
    grid-column: 1/3;
  }

  .projects-card-small--two {
    grid-column: 3/5;
  }

  .projects-card-small--three {
    grid-column: 5/7;
  }

  .projects-card-medium--four {
    margin-bottom: 7px;
    grid-column: 1/7;
  }

  .projects-card-medium--five {
    grid-column: 1/7;
    grid-row-start: 4;
  }

  .projects-card-small--six {
    grid-column: 1/4;
  }

  .projects-card-small--seven {
    grid-column: 4/7;
  }

  .projects-card-small__descr {
    margin-bottom: 10px;
    max-height: 66px;
  }

  .projects-card-small__descr--six,
  .projects-card-small__descr--seven {
    margin-bottom: 18px;
  }

  .projects-card-medium {
    height: 300px;
  }

  .projects-card-medium-content-wrap {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {

  .projects-container {
    padding-top: 50px;
    padding-right: 22px;
    padding-bottom: 33px;
    padding-left: 22px;
  }

  .projects-title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .projects-card-small__type {
    padding: 6px 15px;
    top: 6px;
    right: 5px;
    font-size: 11px;
    line-height: 7px;
  }

  .projects-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-auto-flow: dense;
  }

  .projects-card-small {
    height: 300px;
  }

  .projects-card-small__descr {
    height: 66px;
  }

  .projects-card-small--one {
    grid-column: 1/3;
  }

  .projects-card-small--two {
    height: 278px;
    grid-column: 1/3;
  }

  .projects-card-small__descr--two {
    height: 44px;
  }

  .projects-card-small--three {
    margin-bottom: -23px;
    grid-column: 1/3;
  }

  .projects-card-small__descr--three {
    height: 44px;
  }

  .projects-card-medium--four {
    height: 422px;
    margin-bottom: 7px;
    grid-column: 1/3;
  }

  .projects-card-medium--five {
    height: 422px;
    grid-column: 1/3;
    grid-row-start: 7;
  }

  .projects-card-small--six {
    grid-column: 1/3;
  }

  .projects-card-small--seven {
    grid-column: 1/3;
  }

  .projects-card-small__descr {
    margin-bottom: 10px;
    max-height: 66px;
  }

  .projects-card-small__descr--six,
  .projects-card-small__descr--seven {
    margin-bottom: 6px;
  }

  .projects-card-medium-content-wrap {
    padding-top: 198px;
    padding-left: 28px;
  }

  .projects-card-medium__picture-img {
    height: 422px;
  }

  .projects-card-medium__type {
    font-size: 11px;
    line-height: 9px;
  }

  .projects-card-medium__btn {
    padding: 12.5px 18px;
    width: 107px;
    font-size: 14px;
    line-height: 10px;
  }

  .projects-card-medium__date {
    margin-bottom: 5px;
  }

  .projects-card-medium__title {
    margin-bottom: 9px;
  }

  .projects-card-medium__descr {
    max-height: 72px;
    max-width: 218px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
  }
}
