.hamburger {
  padding: 10px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--white);
}

.hamburger__box {
  width: 30px;
  height: 23px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 23px;
  height: 2px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  bottom: -8px;
}

.hamburger--stand .hamburger__inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger__inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger__inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger__inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger__inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger__inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
}

a {
text-decoration: none;
color: inherit;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.break {
  display: none;
}

:root {
  --blue: #3F2AFF;
  --white: #ffffff;
  --black: #2E2B44;
  --title-black: #212133;
  --grey: #666666;
  --descr-grey: #85859B;
  --bgc-grey: #EDF0F9;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff');
       font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff');
       font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--white);
}

.hamburger {
  display: none;
}


/* header */

.header {
  background-color: var(--blue);
}

.header-wrap {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 94px;
  height: 21px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.header-menu__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}


.header-menu__item:not(:last-child) {
  margin-right: 56px;
}

@media (max-width: 767px) {
  .header-wrap {
    flex-direction: column;
    justify-content: center;
  }

  .header-logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .header-wrap {
    padding-top: 15px;
    padding-bottom: 17px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-logo {
    width: 72px;
    height: 16px;
    background-image: url('../img/logo-small.svg');
    margin-bottom: 0;
    margin-right: auto;
  }

  .hamburger {
    display: inline-block;
  }

  .header__menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    width: 420px;
    height: 100vh;
    border-radius: 32px;
    padding: 170px 80px 50px 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    transform: translateX(-100%);
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);;
}

.hero-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.hero-left {
  padding: 115px 0;
}

.hero-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--white);
}

.hero-descr {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
}

.hero-btn {
  padding: 24px 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  border-radius: 20px;
  background-color: var(--blue);
}

@media (max-width: 992px) {
  .hero-wrapper {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  .hero-title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 100%;
  }

  .hero-descr {
    margin-bottom: 62px;
    max-width: 345px;
    font-size: 18px;
    line-height: 150%;
  }

  .hero-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 115px;
  }
}

@media (max-width: 767px) {
  .hero-right {
    display: none;
  }

  .hero-left {
    padding-top: 63px;
  }
}

@media (max-width: 575px) {
  .hero-left {
    padding-top: 35px;
    padding-bottom: 29px;
  }

  .hero-title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 100%;
  }

  .hero-descr {
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero-btn {
    padding: 20.5px 53.5px;
    font-size: 16px;
    line-height: 19px;
  }
}

/* advantages */

.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages-wrapper-top {
  margin-bottom: 24px;
}

.advantages-top-left {
  padding-top: 20px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  max-width: 380px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--black);
}

.advantages-descr {
  margin: 0;
  padding: 0;
  max-width: 585px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey);
}

.advantages-wrapper-bottom__card {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.advantages-icon1 {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  background-image: url('../img/adv-ic-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-icon2 {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  background-image: url('../img/adv-ic-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-icon3 {
  margin-right: 30px;
  width: 80px;
  height: 80px;
  background-image: url('../img/adv-ic-3.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__card-descr {
  max-width: 240px;
}

.text {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--grey);
}

@media (max-width: 1200px) {
  .advantages-wrapper-bottom__card {
    flex-direction: column;
    align-items: start;
  }

  .advantages-icon1,
  .advantages-icon2,
  .advantages-icon3 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .advantages-top-left {
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .advantages {
    padding-top: 50px;
  }

  .advantages-top-left {
    display: none;
  }

  .advantages-title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 130%;
  }

  .advantages-wrapper-bottom__card {
    flex-direction: row;
    align-items: center;
  }

  .advantages-wrapper-bottom__card {
    margin-bottom: 30px;
  }

  .advantages__card-descr {
    max-width: 180px;
  }

  .advantages-icon1,
  .advantages-icon2,
  .advantages-icon3 {
    margin-bottom: 0px;
  }
}

/* teacheres */

.teachers {
  background-color: var(--title-black);
}

.teachers-container {
  padding-top: 74px;
  padding-bottom: 74px;
}

.teachers-title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--white);
}

.teachers-card__img {
  margin-bottom: 28px;
}

.teachers-card-picture__img {
  width: 100%;
  display: block;
  border-radius: 42px 42px 0 0;
}

.teachers-card__title {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
}

.teachers-card__descr {
  padding: 0;
  margin: 0;
  max-width: 254px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--descr-grey);
}

@media (max-width: 1199px) {
  .teachers-card__descr {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  /* .advantages {
    padding-bottom: 72px;
  } */



  .teachers-card__descr {
    margin-bottom: 23px;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .advantages {
    padding-bottom: 22px;
  }

  .teachers-container {
    padding-top: 46px;
    padding-bottom: 24px;
  }

  .teachers-title {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 100%;
  }
}

/* courses */

.courses {
  padding-top: 74px;
  padding-bottom: 49px;
}

.courses-card {
  margin-bottom: 30px;
}

.courses-card__img {
  position: relative;
}

.courses-card__img-descr {
  position: absolute;
  padding-left: 28px;
  top: 13px;
  right: 4px;
  color: var(--white);
  background-image: url('../img/courses-long.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left;
}

.courses-card-wrapper {
  position: relative;
  min-height: 480px;
  background-color: var(--bgc-grey);
  border-radius: 20px;
}

.courses-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--title-black);
}

.courses-card-picture {
  background-color: var(--bgc-grey);
  border-radius: 20px 20px 0 0;
}

.courses-card-picture__img {
  display: block;
  width: 100%;
}

.courses-text-wrapper {
  padding-top: 26px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 100px;
}

.courses-card__title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--title-black);
}

.courses-card__descr {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey);
}

.courses-card__btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 20.5px 59px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  border-radius: 20px;
  background-color: var(--blue);
}

@media (max-width: 991px) {
  .advantages {
    padding-bottom: 72px;
  }

  .teachers-container {
    padding-bottom: 28px;
  }

  .courses-card__descr {
    min-height: 270px;
  }

  .courses-text-wrapper {
    padding-bottom: 42px;
  }

  .courses-card__btn {
    padding: 20.5px 56px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-bottom: 53px
  }

  .teachers-container {
    padding-bottom: 51px;
  }

  .courses-card-wrapper {
    min-height: 653px;
  }

  .courses-card__btn {
    padding: 20.5px 48px;
  }

  .courses-card__title {
    min-width: 210px;
    line-height: 140%;
  }

  .break {
    display: inline-block;
  }
}

@media (max-width: 567px) {
  .courses-card-wrapper {
    width: 100%;
  }

  .advantages {
    padding-bottom: 22px;
  }

  .teachers-container {
    padding-bottom: 24px;
  }

  .courses-title {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 100%;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 19px;
  }

  .courses-card__btn {
    padding: 20.5px 56px;
  }

  .footer-wrapper {
    padding: 29px;
    padding-left: 53px
  }

}


/* footer */

.footer {
  background-color: var(--black);
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  padding-left: 58px;
  padding-bottom: 25px;
}

.footer-svg {
  margin-right: 30px;
}

.footer-bottom {
  padding-top: 3px;
  background-color: var(--white);
}

.footer-bottom__text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--black);
}

.footer-bottom__text-R {
  color: var(--blue);
}

@media (max-width: 567px) {
  .footer-wrapper {
    padding: 29px;
    padding-left: 41px;
    padding-bottom: 24px;
    padding-right: 12px;
  }
}


