html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img,
svg {
    max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --purple: #9D5CD0;
    --purple-dark: #7943A4;
    --purple-light: #C283F3;
    --purple-light-plus: #D1A9F0;
    --title-black: #333333;
    --grey: #999999;
    --disabled-grey: #ECECEC;
    --grey-666: #666666;
    --border-grey: #CACACA;
    --invalid: #D11616;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin_cyrillic-regular.eot');
  src: local(''),
       url('../fonts/open-sans-v34-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'),
       url('../fonts/open-sans-v34-latin_cyrillic-regular.ttf') format('truetype'),
       url('../fonts/open-sans-v34-latin_cyrillic-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v34-latin_cyrillic-600.eot');
  src: local(''),
       url('../fonts/open-sans-v34-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff'),
       url('../fonts/open-sans-v34-latin_cyrillic-600.ttf') format('truetype'),
       url('../fonts/open-sans-v34-latin_cyrillic-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-latin_cyrillic-700.eot');
  src: local(''),
       url('../fonts/open-sans-v34-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff'),
       url('../fonts/open-sans-v34-latin_cyrillic-700.ttf') format('truetype'),
       url('../fonts/open-sans-v34-latin_cyrillic-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin_cyrillic-italic.eot');
  src: local(''),
       url('../fonts/open-sans-v34-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v34-latin_cyrillic-italic.woff2') format('woff2'),
       url('../fonts/open-sans-v34-latin_cyrillic-italic.woff') format('woff'),
       url('../fonts/open-sans-v34-latin_cyrillic-italic.ttf') format('truetype'),
       url('../fonts/open-sans-v34-latin_cyrillic-italic.svg#OpenSans') format('svg');
}

body {
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: var(--white);
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 160px;
    padding-left: 160px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.section-title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-black);
}
