.hamburger {
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:focus {
  outline: none;
  animation: tilt-n-move-shaking .5s 1;
}

.hamburger:hover .hamburger__inner {
  background-color: var(--purple);
}

.hamburger:hover .hamburger__inner::before {
  background-color: var(--purple);
}

.hamburger:hover .hamburger__inner::after {
  background-color: var(--purple);
}

.hamburger.is-active:hover .hamburger__inner {
  background-color: var(--purple);
}

.hamburger.is-active:hover .hamburger__inner::before {
  background-color: var(--purple);
}

.hamburger.is-active:hover .hamburger__inner::after {
  background-color: var(--purple);
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--white);
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: 0;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  transition: transform 0.15s ease, background-color .3s ease-in-out;
}

.hamburger__inner::before {
  width: 36px;
}

.hamburger__inner {
  width: 28px;
}

.hamburger__inner::after {
  width: 24px;
}



.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -11px;
}

.hamburger__inner::after {
  bottom: -13px;
}

.hamburger--vortex .hamburger__inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger__inner::before,
.hamburger--vortex .hamburger__inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger__inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger__inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger__inner {
  width: 36px;
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger__inner::before,
.hamburger--vortex.is-active .hamburger__inner::after {
  width: 36px;
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger__inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger__inner::after {
  bottom: 0;
  transform: rotate(90deg);
}
