.header {
    min-height: 100px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 0px 0px 32px 32px;
    background-color: var(--white);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo,
.header__search-btn {
    flex-shrink: 0;
}

.header__logo {
    width: 224px;
    height: 72px;
    margin-right: 40px;
}

.header__navigation,
.header__menu {
    display: flex;
}

.header__navigation {
    align-items: center;
}

.header__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-right: 260px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.header__menu-item:not(:last-child) {
    margin-right: 85px;
}

.header__menu-link {
    position: relative;
    outline: none;
}

.header__menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    transform: scaleX(0);
    transition: transform 0.3s;
}

.header__menu-link:hover::after {
    transform: scaleX(1);
}

.header__menu-link:focus:not(:hover) {
    outline: 2px solid var(--orange);
    outline-offset: 5px;
}

.header__menu-link:active {
    color: var(--orange-dark);
}

.header__menu-link:active::after {
    color: var(--dark-orange);
    background-color: var(--orange-dark);
    transform: scaleX(0);
}

.header__search-btn,
.header__close-btn {
    width: 24px;
    height: 24px;
    color: var(--black);
    transition: color .3s;
}

.header__search-btn:hover,
.header__close-btn:hover {
    cursor: pointer;
    color: var(--orange-light);
    outline: none;
}

.header__search-btn:focus:not(:hover),
.header__close-btn:focus:not(:hover) {
    outline: 2px solid var(--orange-light);
    outline-offset: 3px;
}

.header__search-btn:active,
.header__close-btn:active {
    color: var(--orange-dark);
}

.header__search-form {
  position: absolute;
  display: none;
  align-items: center;
  width: 539px;
  right: 50px;
  top: 6px;
  padding: 15px 13px 18px 30px;
  z-index: 14;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  transform-origin: right;
}

.header__search-input {
  flex-grow: 1;
  padding-bottom: 5px;
  margin-right: 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid #DCDCDC;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: border-color .3s;
}

.header__search-input:hover {
  border-color: var(--orange);
}

.header__search-input::placeholder {
  transition: opacity 0.3s;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-btn--submit {
  margin-right: 22px;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

@media (max-width: 1680px) {

  .header__navigation {
    width: 100%;
    justify-content: flex-end;
  }

  .header__menu {
    margin-right: 85px;
  }
}

@media (max-width: 1280px) {

  .hamburger {
    position: relative;
    display: inline-block;
    z-index: 13;
  }

  .header__menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    width: 420px;
    height: 100vh;
    border-radius: 32px;
    padding: 170px 80px 50px 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__menu {
    display: block;
    max-height: 100%;
    margin: 0;
    overflow-y: auto;
  }

  .header__menu-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__menu-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  }

  .header__menu-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .header__navigation {
    width: auto;
  }
}

@media (max-width: 1024px) {

  .header-container .hamburger {
    padding: 0;
    padding-top: 24px;
  }

  .header__logo {
    margin: 0;
    width: 150px;
    height: 48px;
  }

  .header__search-btn {
    padding-top: 10px;
  }

  .header__search-btn--submit {
    padding-top: 0;
  }
}

@media (max-width: 850px) {

  .hamburger {
    display: inline-block;
  }

  .header__search-btn {
    height: 50px;
  }

}

@media (max-width: 768px) {

  .hamburger {
    display: inline-block;
  }

  .header__menu-wrap {
    padding-top: 152px;
    border-radius: 24px;
  }

  .header {
    padding-top: 0;
    min-height: 69px;
  }
}

@media (max-width: 630px) {

  .hamburger {
    display: inline-block;
  }

  .header__search-form {
    right: 15px;
  }

}

@media (max-width: 576px) {

  .hamburger {
    display: inline-block;
  }

  .header__menu-wrap {
    width: 320px;
    padding: 78px 97px 101px 15px;
    border-radius: 16px;
  }

  .header__menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .header__menu-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__logo {
    margin: 0;
    width: 110px;
    height: 51px;
  }

  .header__search-form {
    width: 320px;
    padding-right: 0;
    right: 0;
  }

  .header__search-input {
    max-width: 190px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
