.process {
    padding-top: 50px;
    padding-bottom: 50px;
}

.process__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black);
}

.process__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.process__list-item:not(:last-child) {
    margin-right: 85px;
}

.process__list-btn {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    border: none;
    background-color: transparent;
    transition: color .3s;
}

.process__list-btn:hover {
    cursor: pointer;
    color: var(--orange-light);
    outline: none;
}

.process__list-btn:focus:not(:hover) {
    outline: 2px solid var(--orange-light);
    outline-offset: 5px;
}

.process__list-btn:active {
    color: var(--orange-dark);
}


.process-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-content__left {
    max-width: 758px;
    min-height: 460px;
}

.process-content__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
}

.process-content__descr {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black);
}

.process-content__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.process-content__wrapper > a:not(:last-child) {
    margin-right: 32px;
}

.process-content__btn {
    padding: 20px 38px;
    transition: background-color .3s ease;
}

.process-content__btn:focus,
.process-content__btn:hover {
    outline: none;
    background-color: var(--orange-light);
    transition: background-color 0.3s ease-in-out;
}

.process-content__btn:active {
    outline: none;
    background-color: var(--orange-dark);
    transition: background-color 0.3s ease-in-out;
}

.process-content__btn2 {
    padding: 20px 38px;
    color: var(--black);
    border-radius: 16px;
    background-color: transparent;
    outline: solid 1px var(--black);
    transition: background-color .3s ease, outline .3s ease ;
}

.process-content__btn2:focus,
.process-content__btn2:hover {
    outline: none;
    color: var(--white);
    background-color: var(--grey);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.process-content__btn2:active {
    outline: none;
    color: var(--white);
    background-color: var(--black);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.process-content__right {
    width: 870px;
    height: 460px;
    border-radius: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}

.tab-img-1 {
  background-image: url('../img/process1.jpg');
}

.tab-img-2 {
  background-image: url('../img/process2.jpg');
}

.tab-img-3 {
  background-image: url('../img/process3.jpg');
}

.tab-img-4 {
  background-image: url('../img/process4.jpg');
}

@media (max-width: 1680px) {

  .process-content__left {
    margin-right: 40px;
    max-width: 620px;
  }
}

@media (max-width: 1024px) {

  .process {
    padding-top: 28px;
    padding-bottom: 40px;
  }

  .process__list {
    margin-bottom: 50px;
  }

  .process-content__left {
    margin-right: 35px;
    max-width: 49%;
  }

  .process-content__descr {
    margin-bottom: 25px;
  }

  .process-content__btn2 {
    padding: 19px 37px;
  }

  .process-content__right {
    width: 50%;
    min-height: 689px;
    border-radius: 32px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tab-img-1 {
    background-image: url('../img/process1-1024.jpg');
  }

  .tab-img-2 {
    background-image: url('../img/process2-1024.jpg');
  }

  .tab-img-3 {
    background-image: url('../img/process3-1024.jpg');
  }

  .tab-img-4 {
    background-image: url('../img/process4-1024.jpg');
  }
}

@media (max-width: 850px) {

  .process__list {
    justify-content: space-between;
  }

  .process-content {
    flex-direction: column-reverse;
    width: 100%;
  }

  .process-content__right {
    margin-bottom: 38px;
    max-width: 100%;
    width: 100%;
    min-height: 100px;
    border-radius: 32px;
  }

  .tab-img-1 {
    background-image: url('../img/process1-768.jpg');
  }

  .tab-img-2 {
    background-image: url('../img/process2-768.jpg');
  }

  .tab-img-3 {
    background-image: url('../img/process3-768.jpg');
  }

  .tab-img-4 {
    background-image: url('../img/process4-768.jpg');
  }

  .process-content__left {
    margin-right: 0;
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  .process {
    padding-bottom: 20px;
  }

  .process-content__right {
    max-height: 284px;
  }

  .process-content__descr-br {
    display: none;
  }
}

@media (max-width: 630px) {

  .process__title {
    font-size: 24px;
    line-height: 29px;
  }

  .process__list-item:not(:last-child) {
    margin-right: 0;
  }

  .process-content__wrapper {
    flex-wrap: nowrap;
  }

  .process-content__title {
    font-size: 18px;
    line-height: 22px;
  }

  .process-content__wrapper .btn {
    padding: 12px 44px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .process-content__wrapper > a:not(:last-child) {
    margin-right: 8px;
  }

  .process-content__btn2 {
    padding: 12px 32px;
    margin: 0;
  }
}

@media (max-width: 576px) {

  .process {
    padding-top: 0;
    padding-bottom: 31px;
  }

  .process__title {
    margin-bottom: 20px;
  }

  .process__list {
    margin-bottom: 16px;
  }

  .process__list-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .process-content__right {
    margin-bottom: 16px;
    max-height: 160px;
    border-radius: 16px;
  }

  .tab-img-1 {
    background-image: url('../img/process1-320.jpg');
  }

  .tab-img-2 {
    background-image: url('../img/process2-320.jpg');
  }

  .tab-img-3 {
    background-image: url('../img/process3-320.jpg');
  }

  .tab-img-4 {
    background-image: url('../img/process4-320.jpg');
  }

  .process-content__title {
    font-size: 17.5px;
    line-height: 32px;
  }

  .process-content__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .process-content__wrapper .btn {
    border-radius: 8px;
  }

  .process-content__wrapper > a:not(:last-child) {
    margin-right: 10px;
  }

  .process-content__wrapper .process-content__btn2 {
    padding: 11px 31px;
  }
}
